@charset "UTF-8";
/* Variables */
/* Keyframes */
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade1 {
  animation-duration: 2.5s;
  animation-name: aparecer;
  animation-iteration-count: 1;
}

.fade2 {
  animation-duration: 4.5s;
  animation-name: aparecer;
  animation-iteration-count: 1;
}

.fade3 {
  animation-duration: 6.5s;
  animation-name: aparecer;
  animation-iteration-count: 1;
}

.fade4 {
  animation-duration: 8.5s;
  animation-name: aparecer;
  animation-iteration-count: 1;
}

.fade5 {
  animation-duration: 10.5s;
  animation-name: aparecer;
  animation-iteration-count: 1;
}

/* Para las cajas */
.box {
  width: 300px;
  height: 100px;
}

/***************************************************/
/*Uso de Each y Maps*/
.icon-20px {
  font-size: 20px;
  height: 20px;
  width: 20px;
}

.icon-30px {
  font-size: 30px;
  height: 30px;
  width: 30px;
}

.icon-40px {
  font-size: 40px;
  height: 40px;
  width: 40px;
}

.icon-50px {
  font-size: 50px;
  height: 50px;
  width: 50px;
}

.icon-70px {
  font-size: 70px;
  height: 70px;
  width: 70px;
}

.icon-80px {
  font-size: 80px;
  height: 80px;
  width: 80px;
}

.btn--ins {
  background-color: orange;
}

.btn--fb {
  background-color: blue;
}

.btn--mail {
  background-color: rgba(250, 12, 12, 0.849);
}

/* botones redes */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Botones */
.btn-primary {
  --bs-btn-bg: #ed732f;
  --bs-btn-border-color: #ffffff;
}

/* Navbar*/
.navbartitulo {
  font-weight: 480;
  font-size: 1.5em;
  color: #000000;
}

.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: rgba(255, 255, 255, 0) !important;
}

.nav-link {
  color: #333;
}
.nav-link:hover {
  color: #c26732;
}

.nav-link.disabled {
  color: #2849b8;
}

/* modifico el header para transparencia */
header {
  z-index: 2;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.4901960784);
  width: 100%;
  padding: 10px;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1490196078);
}

body {
  background-color: white;
}

section h4 {
  font-family: "Inknut Antiqua";
  font-family: "Inknut Antiqua";
  font-style: normal;
  font-weight: 300;
  text-align: center;
}

/* Todo lo que tenga que ver con footer */
footer {
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.iconos-footer {
  padding: 20px;
}

/* Index: Hamlin, portada*/
.textoportada {
  text-align: center;
  color: white;
  background-color: darkgray;
}

/* texto central */
.centered {
  position: absolute;
  font-family: "Inknut Antiqua";
  font-family: "Inknut Antiqua";
  font-style: normal;
  font-weight: 300;
  font-size: 4em;
  z-index: 0;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Imagenes del index, que estan en grid*/
.img__wrap {
  position: relative;
  display: inline-block;
}

.img__img {
  vertical-align: bottom;
}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(95, 44, 14, 0.4941176471);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s, visibility 0.2s;
}

.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.img__description {
  transition: 0.2s;
  transform: translateY(1em);
  text-align: center;
}

.img__wrap:hover .img__description {
  transform: translateY(0);
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.image-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: center;
}

.imagen-texto {
  display: flex; /* Activa el modo flexbox */
  flex-direction: column; /* Define la dirección de la columna */
  align-items: center; /* Centra los elementos horizontalmente */
  margin-bottom: 20px; /* Añade espacio entre las imágenes */
}

/*mesa verde portada*/
.textoabajo {
  position: absolute;
  font-family: "Inknut Antiqua";
  font-family: "Inknut Antiqua";
  font-style: normal;
  font-weight: 300;
  font-size: 2em;
  background-color: black;
  color: white;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-left {
  position: absolute;
  top: 90px;
  left: 16px;
  font-size: 2em;
  text-align: left;
  margin-right: 35%;
}

/* Clases para integrar fuentes de texto */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.inkmut-font {
  font-family: "Inknut Antiqua";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  color: white;
}

/*Porfolio, CSS*/
.porfolioTexto {
  padding-left: 10%;
  padding-right: 10%;
}

/* Media Only para responsive de distintas pestañas */
@media only screen and (max-width: 1800px) {
  .top-left {
    margin-right: 45%;
    top: 80px;
  }
}
@media only screen and (max-width: 1600px) {
  .centered {
    top: 40%;
  }
  .top-left {
    margin-right: 55%;
    top: 25px;
  }
}
@media only screen and (max-width: 1450px) {
  .centered {
    font-size: 3em;
    top: 30%;
  }
  .top-left {
    margin-right: 55%;
    top: 25px;
    font-size: 1.7em;
  }
}
@media only screen and (max-width: 1250px) {
  .centered {
    top: 30%;
  }
  .top-left {
    font-size: 1.7em;
    margin-right: 45%;
    top: 20px;
  }
}
@media only screen and (max-width: 1075px) {
  .top-left {
    font-size: 1.5em;
    margin-right: 35%;
    top: 20px;
  }
}
@media only screen and (max-width: 1000px) {
  .centered {
    font-size: 2em;
    top: 20%;
  }
  .top-left {
    font-size: 1.2em;
    margin-right: 35%;
    top: 20px;
  }
}
@media only screen and (max-width: 700px) {
  .top-left {
    font-size: 1em;
    margin-right: 35%;
    top: 15px;
  }
}
@media only screen and (max-width: 600px) {
  .centered {
    font-size: 1.55em;
  }
}
@media only screen and (max-width: 470px) {
  .centered {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .navbartitulo {
    display: none;
  }
}
/* Clases que estan en Index*/
.objetivo {
  padding: 2em;
  background-color: rgb(76, 47, 39);
}

.objetivo h1 {
  font-size: 2em;
  font-family: "Inknut Antiqua";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  color: white;
}

/* Aca adapte el tamaño del texto porque en un celular es demasiado grande*/
@media only screen and (max-width: 900px) {
  .objetivo h1 {
    font-family: "Inknut Antiqua";
    font-size: 18px;
    font-family: "Inknut Antiqua";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    color: white;
  }
}
/* Texto que aparece en FAQs */
.faqs {
  padding-left: 15%;
  padding-right: 15%;
  font-family: "Inknut Antiqua";
  font-size: 2em;
  font-family: "Inknut Antiqua";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  text-align: center;
}

.faqs li {
  font-size: 20px;
}

.faqs li p {
  font-size: 12px;
}

/*Contacto*/
.formulario {
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 10em;
  padding-bottom: 10em;
}

/* El mapa que esta en "La Oficina" */
.mapa iframe {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
