/* Variables */ 
$hover-navbar: rgba(0, 56, 255, 1);
$sizes: 20px, 30px, 40px, 50px, 70px, 80px;


/* Para las cajas */ 

@mixin sizes($width, $height){
width: $width;
height: $height;

}

.box{
    @include sizes(300px,100px);
}


/***************************************************/

/*Uso de Each y Maps*/

@each $size in $sizes{
    .icon-#{$size}{
        font-size: $size;
        height: $size;
        width: $size;
    }
}


$map: (
fBoton: blue,
iBoton: orange,
mBoton: rgba(250, 12, 12, 0.849)
);


$colors:(
    ins: orange,
    fb: blue,
    mail: rgba(250, 12, 12, 0.849)
    );

    @each $name-color, $bgcolor in $colors {
        .btn--#{$name-color}{

            background-color: $bgcolor;
        }
    }

    /* botones redes */

*
{
    margin: 0;
    padding: 0;
}

/* Botones */

.botones {


}

.botones--navbar{
    @extend .botones
}


header {

    position:fixed;
    background-color: white;
    width: 100%;
    padding: 10px;
    
}

body {
    background-color: white;
}

section h4 {
    font-family: 'Inknut Antiqua';
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-weight: 300;
  text-align:center;

}

/* Todo lo que tenga que ver con footer */ 

footer {
background-color: darkgray;
width: 100%;
}

/* Imagenes de background con texto*/ 

.portada{ 
    background-position: 100%;
    width:100%;
}

/* Index: Hamlin, portada*/

.textoportada{
    
    position: relative;
    text-align: center;
    color: white;
    background-color: darkgray;
  }
/* texto central */ 
  .centered {
    position: absolute;
  font-family: 'Inknut Antiqua';
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-weight: 300;
  font-size:4em;
  color:white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /*mesa verde portada*/


    .top-left {
        position: absolute;
        top: 90px;
        left: 16px;
        font-size:2em;
        text-align:left;
        margin-right:35%;
      }
      
  

  /* Porfolio: Mesa verde */


    


/* Responsive para texto central de Hamlin Hamlin & McGuill */

@media only screen and (max-width:1800px){

    .top-left{
        margin-right:45%;
        top: 80px;
    }
}

@media only screen and (max-width:1600px){

    .top-left{

        margin-right:55%;
        top:25px;
        
    }
}

 
@media only screen and (max-width:1450px){
    .centered{
        font-size: 3em;
    }

    .top-left{
        margin-right:55%;
        top:25px;
        font-size:1.7em;
    }

    
}

@media only screen and (max-width:1250px){

    .top-left{
        font-size:1.7em;
        margin-right:45%;
        top:20px;
    }
}

@media only screen and (max-width:1075px){

    .top-left{
        font-size:1.5em;
        margin-right:35%;
        top:20px;
    }
}

@media only screen and (max-width:1000px) {

    .centered{
        font-size: 2em;
    }

    .top-left{
        font-size:1.2em;
        margin-right:35%;
        top:20px;
    }
}

@media only screen and (max-width: 700px){
    .top-left{
    font-size:1em;
    margin-right:35%;
    top:15px;
}
}

@media only screen and (max-width:600px){

    .centered{
        font-size: 1.55em;
    }

}



/* Clases que estan en Index*/ 

.objetivo {
    padding:2em;
    background-color: rgba(76, 47, 39, 1);
    
}

.objetivo h1{

    font-family: 'Inknut Antiqua';
    font-size: 2em;
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  color:white;

}

/* Aca adapte el tamaño del texto porque en un celular es demasiado grande*/

@media only screen and (max-width:900px){
    .objetivo h1{
        font-family: 'Inknut Antiqua';
  font-size: 18px;
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  color:white;
    }

}

/* Texto que aparece en FAQs */ 

.faqs{
    font-family: 'Inknut Antiqua';
    font-size: 2em;
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  text-align:center;
}

.faqs li{
    font-size: 20px;
}

.faqs li p{
    font-size:12px;
}

/*Contacto*/ 

.formulario{
    padding-left: 25%;
    padding-right:25%;
    padding-top:10em;
    padding-bottom:10em;
}

/* El mapa que esta en "La Oficina" */ 
.mapa iframe{
    width:100%;
}